html{
    scroll-behavior: smooth;
}

body{
    background-color: black ;
    font-family: 'roboto_condensedregular', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

header{
    height: 100vh;
    text-align: center;
    font-size: 18px;
    background-image: url("/images/me5.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#header-words{
    padding-top: 23vh;
    font-size: 6em;
    color: white;
}
#arrow {
    padding-top: 10vh;
    font-size: 0.5em;
    transition: color ease-in-out 0.3s;
}
#arrow.scroll{
    color: rgba(204, 0, 0, 0);
}

#navbar-div {
    z-index: 100;
    list-style-type: none;
    margin: 0;
    padding: 1.4rem 0 0 1.6rem;
    transition: background-color 0.3s ease-out;
    text-transform: uppercase;
}
li a {
    display: block;
    color: white;
    text-decoration: none;
}

.links{
    padding-top: 0.7rem;
    padding-right: 1.6rem;
    float: right;
}


.links.home{
    display: none;
    padding-top: 0.7rem;
    float: right;
}

.logo{
    font-size: 2em;
    float:left;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background: rgb(238, 238, 238);
    min-width: 9rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
  }
  
.dropdown-content a:hover {
    background: rgb(192, 192, 192);
}
.dropdown:hover .dropdown-content {
    display: block;
}

section {
    width: 100%;
    background: rgb(238, 238, 238);
    display: flex;
    text-align: center;
    padding: 12vh 0 12vh 0;
}

.large-one{
    margin-left: 15vw;
    width: 24vw;
    margin-top: 15vh;
    margin-bottom: 15vh;
}
.layer{
    width: 50%;
    text-align: left;
    margin: 10vh 20vw 10vh 10vw;
}

.layer.one{
    color: black;
    text-align: left;
    margin: 30vh 10vw 30vh 10vw;
}
.intro.p{
    margin-bottom: 5vh;
}

.intro.social-text{
    text-align: center;
    margin-bottom: 3vh;
}

.intro.social-logos {
    text-align: center;
}

.social-image {
    background-color: white;
    padding-left: 0;
    margin: 0 2vw 0 0;
    width:5vh;
    display: inline-block;
    border-radius: 3.1vh;
    border: 5px solid rgb(238, 238, 238);
    transition: ease-in-out 0.1s;
}

.intro.social-logos img{
    width: 5vw;
    height: 5vw;
}

.social-image:hover{
    border-color: rgb(199, 174, 104);
}

.ph{
    background-color: rgb(36, 36, 36);
    display: flex;
    flex-direction: column;
}

.large-row1{
    margin-top: 10vh;
    margin-left: 0vw;
    width: 24vw;
    height: 36vw;
    margin-left: 1vw; 
    padding-right: 15vw;
}

.large-row2{
    margin-top: 10vh;
    margin-left: 0vw;
    width: 24vw;
    height: 36vw;
    padding-left: 14vw;
}

.large-solo1{
    margin-top: -30vw;
    margin-left: 1vw;
    width: 24vw;
    height: 36vw;
}

.photography-block.one{
    margin-top: -5vh;
}
.photography-block.three{
    display: none;
}
.layer.two{
    color: white;
    margin: 0vh 25vw 2vh 25vw;
}

.second.p{
    text-align: center;
}

.large-landscape{
    width: 42.5vw;
    height:28.3vw;
    margin-top: 11vh;
    margin-bottom: 11vh;
}

.large-landscape.ck{
    margin-left: 7.5vw;
}

.large-landscape.soccer1{
    margin-right: 7.5vw;
}

.large-landscape.soccer2{
    display: none;
}


.layer.three{
    color: black;
    margin: 10vh 10vw 15vh 10vw;
}

.fourth{
    padding: 14vh 0 14vh 0;
}

.layer.four{
    color:white;
    text-align: left;
    margin: 15vh 10vw 15vh 10vw;
}

.fifth{
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
}

.large-pbe{
    margin-top: 10vh;
    margin-left: 0vw;
    width: 45vw;
    height: 30vw;
}

.large-pbe.one{
    padding-right: 1vw;
}

.large-pbe.two{
    padding-left: 1vw;
}


.layer.five{
    color: rgb(54, 54, 54);
    margin: 0vh 25vw 2vh 25vw;
    width: 50vw;
}

.button{
    margin-top: 3vh;
    text-align: center;
}

button{
    color: rgb(235, 235, 235);
    text-transform: uppercase;
    font-size: 1.1vw;
    background-color: rgb(199, 174, 104);
    padding: 2vh 3vw 2vh 3vw;
    border: 4px solid rgb(170, 149, 92);
}

button:hover{
    cursor: pointer;
    background-color: rgb(182, 159, 95);
}

#gall2{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    overflow: hidden;
    grid-gap: 0vw;
    grid-template-areas:
    "img1 img2 img3"
    "img4 img5 img6";
}

#gall2 .gall-img{
    filter: grayscale(0.3);
    width: 33vw;
    height: 22vw;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 0;
    background-position: center;
    overflow: hidden;
    z-index: 0;
}

/* Images! */

#gall2 .img1 {
    grid-area: img1;
    background-image: url("../images/ckp1.jpg");
    width: 33vw;
    z-index: 0;
}

#gall2 .img2 {
    grid-area: img2;
    background-image: url("/images/ckp2.jpg");
    width: 33vw;
    z-index: 0;
}

#gall2 .img3 {
    grid-area: img3;
    background-image: url("/images/ckp3.jpg");
    width: 32.95vw;
    z-index: 0;
}

#gall2 .img4 {
    grid-area: img4;
    background-image: url("/images/ckp4.jpg");
    width: 33vw;
    z-index: 0;
}
#gall2 .img5 {
    grid-area: img5;
    background-image: url("../images/ckp5.jpg");
    width: 33vw;
    z-index: 0;
}

#gall2 .img6 {
    grid-area: img6;
    background-image: url("/images/ckp6.jpg");
    width: 32.95vw;
    z-index: 0;
}

.gall-img div{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.title{
    font-size: 2.5em;
    margin: 0;
}

.p div{
    padding-top: 3vh;
}

footer{
    padding-top: 10vh;
    height: 50vh;
    text-align: center;
    background-color: rgb(29, 29, 29);
    color: white;
    padding: 1em;
    font-size: 1em;
}

.footer-links{
    font-size: 12px;
    align-items: center;
    display: flex;
    padding-top: 15vh;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
}

.footer-links div{
    padding-right: 10vw;
}

.footer-links a{
    text-decoration: none;
    color:  white;
    transition: ease-in-out 0.1s;
}

.footer-links a:hover{
    color: rgb(199, 174, 104);

}

.footer.social-logos {
    text-align: center;
}

.social-image2 {
    background-color: white;
    padding-left: 0;
    margin: 0 2vw 0 0;
    width:5vh;
    display: inline-block;
    border-radius: 3.1vh;
    border: 5px solid white;
    transition: ease-in-out 0.1s;
}
.footer.social-logos img{
    width: 5vh;
    height: 5vh;
}

.social-image2:hover{
    border-color: rgb(199, 174, 104);
}

@media screen and (max-width: 800px) {
    body{
        background-color: black ;
        font-family: 'roboto_condensedregular', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0px;
        padding: 0px;
        font-size: 12px;
    }
    
    header{
        height: 100vh;
        text-align: center;
        font-size: 12px;
        background-image: url("/images/me9.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    #header-words{
        /* adjust with media queries */
        padding-top: 23vh;
        font-size: 3em;
        color: white;
    }
    #arrow {
        padding-top: 20vh;
        font-size: 1em;
        transition: color ease-in-out 0.3s;
    }
    #arrow.scroll{
        color: rgba(204, 0, 0, 0);
    }
    
    #navbar-div {
        z-index: 100;
        list-style-type: none;
        /* Make margin more inside for both the logo and the links */
        margin: 0;
        /* padding: 1.4rem 0 0 1.6rem; */
        transition: background-color 0.3s ease-out;
        text-transform: uppercase;
    }
    
    li a {
        display: block;
        color: white;
        text-decoration: none;
    }
    
    .links{
        width: 50%;
        padding-top: 0.7rem;
        float: none;
        display: flex;
        flex-direction: row;
    }
    ul{
        display: flex;
        flex-direction: column-reverse;
    }

    .links.home{
        padding-top: 0.7rem;
        float: none;
        display: flex;
        flex-direction: row;
    }
    
    .logo{
        display: none;
        float: none;
    }
    
    section {
        width: 100%;
        background: rgb(238, 238, 238);
        display: block;
        text-align: center;
        padding: 12vh 0 12vh 0;
    }
    
    .large-one{
        margin-left: 0;
        width: 50vw;
        margin-top: 0;
        margin-bottom: 0;
    }
    .layer{
        text-align: center;
        margin: 0vh 0vw 0vh 0vw;
    }
    
    .layer.one{
        width: 80%;
        color: black;
        text-align: center;
        margin: 10vw 0vw 0vh 10vw;
    }
    
    .ph{
        background-color: rgb(36, 36, 36);
        display: flex;
        flex-direction: column;
    }
    
    .photography-block{
        display: block;
    }
    .large-row1{
        margin-top: 10vh;
        margin-left: 0vw;
        width: 40vw;
        height: 60vw;
        margin-left: 0vw; 
        padding-right: 0vw;
    }
    
    .large-row2{
        margin-top: 10vh;
        margin-left: 0vw;
        width: 40vw;
        height: 60vw;
        padding-left: 0vw;
    }
    
    .large-solo1{
        margin-top: 00vw;
        margin-left: 9.5vw;
        width: 40vw;
        height: 60vw;
        padding-left: 0;
    }
    .large-solo2{
        margin-left: 0vw;
        width: 40vw;
        height: 60vw;
        margin-top: 00vw;
        padding-left: 1vw;
    }

    .photography-block.three{
        display: flex;
    }

    .photography-block.two{
        display: none;
    }
    
    .layer.two{
        width: 80%;
        text-align: center;
        color: white;
        margin: 0vh 0vw 0vh 10vw;
    }
    
    .second.p{
        text-align: center;
    }
    
    .large-landscape{
        width: 90vw;
        height: 60vw;
        margin-top: 11vh;
        margin-bottom: 11vh;
    }

    .large-landscape.ck{
        margin-left: 0vw;
        margin-bottom: 5vh;
        margin-top: 0vh;
    }

    .large-landscape.soccer1{
        padding: 0;
        margin: 0vh 10vw 0vh 10vw;
        width: 75vw;
        height: 50vw;
    }

    .large-landscape.soccer2{
        display: block;
        margin: 2vh 12.5vw 0vh 12.5vw;
        width: 75vw;
        height: 50vw;
        padding: 0vh;
    }

    
    .layer.three{
        width: 80%;
        color: black;
        margin: 0vh 10vw 0vh 10vw;
    }
    
    .fourth{
        padding: 12vh 0 12vh 0;
    }
    
    .layer.four{
        width: 80%;
        color:white;
        text-align: center;
        margin: 0vh 10vw 5vh 10vw;
    }
    
    .fifth{
        background-color: rgb(238, 238, 238);
        display: flex;
        flex-direction: column;
    }

    .pbe-images{
        display: block;
    }
    
    .large-pbe.one{
        padding: 0;
        margin-top: 5vh;
        margin-left: 0vw;
        width: 75vw;
        height: 50vw;
    }

    .large-pbe.two{
        margin-top: 2vh;
        margin-left: 0vw;
        width: 75vw;
        height: 50vw;
        padding: 0;
    }
    
    .layer.five{
        color: rgb(54, 54, 54);
        margin: 0vh 10vw 2vh 10vw;
        width: 80%;
    }
    
    button{
        font-size: 12px;
    }

    #gall2{
        background-color: white;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        overflow: hidden;
        grid-gap: 0vw;
        grid-template-areas:
        "img1 img2" 
        "img4 img3"
        "img5 img6";
    }
    
    #gall2 .gall-img{
        filter: grayscale(0.3);
        width: 50vw;
        height: 30vw;
        background-repeat: no-repeat;
        background-size: cover;
        gap: 0;
        background-position: center;
        overflow: hidden;
        z-index: 0;
    }
    
    /* Images! */
    
    #gall2 .img1 {
        grid-area: img1;
        background-image: url("../images/ckp1.jpg");
        z-index: 0;
    }
    
    #gall2 .img2 {
        grid-area: img2;
        background-image: url("/images/ckp2.jpg");
        z-index: 0;
    }
    
    #gall2 .img3 {
        grid-area: img3;
        background-image: url("/images/ckp3.jpg");
        z-index: 0;
    }
    
    #gall2 .img4 {
        grid-area: img4;
        background-image: url("/images/ckp4.jpg");
        z-index: 0;
    }
    #gall2 .img5 {
        grid-area: img5;
        z-index: 0;
    }
    
    #gall2 .img6 {
        grid-area: img6;
        background-image: url("/images/ckp6.jpg");
        z-index: 0;
    }

    
    
    .footer-links{
        font-size: 12px;
        align-items: center;
        display: flex;
        padding-top: 12.5vh;
        align-items: center;
        justify-content: center;
        padding-bottom: 5vh;
    }
    
    
}