html{
    scroll-behavior: smooth;
}

body{
    background-color:rgb(238, 238, 238);
    font-family: 'roboto_condensedregular', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

header{
    height: 100vh;
    text-align: center;
    font-size: 18px;
    background-image: url("/images/numbers.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#header-words{
    /* adjust with media queries */
    padding-top: 23vh;
    font-size: 6em;
    color: white;
}
#arrow {
    padding-top: 10vh;
    font-size: 0.5em;
    transition: color ease-in-out 0.3s;
}
#arrow.scroll{
    color: rgba(204, 0, 0, 0);
}

#navbar-div {
    z-index: 100;
    list-style-type: none;
    margin: 0;
    padding: 1.4rem 0 0 1.6rem;
    transition: background-color 0.3s ease-out;
    text-transform: uppercase;
}

li a {
    display: block;
    color: white;
    text-decoration: none;
}

.links{
    padding-top: 0.7rem;
    padding-right: 1.6rem;
    float: right;
}


.links.home{
    display: none;
    padding-top: 0.7rem;
    float: right;
}

.logo{
    font-size: 2em;
    float:left;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background: rgb(238, 238, 238);
    min-width: 9rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
  }
  
.dropdown-content a:hover {
    background: rgb(192, 192, 192);
}
.dropdown:hover .dropdown-content {
    display: block;
}
section {
    display: flex;
    margin: 0vw 3vw 0vw 3vw;
}
.layer{
    background: rgb(210, 210, 210);
    width: 100%;
    margin: 15px 15px 15px 15px;
    text-align: center;
    box-shadow: black 0 0 10px;
    font-family:'roboto_condensedregular', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.total{
    font-family: 'roboto_condensedregular', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    padding-top: 8vw;
    padding-bottom: 8vw;
}
.title{
    font-size: 20px;
    text-align: right; 
    width: 40%;
    padding: 0vw 10vw 0 4vw;
}
.text{
    width: 90%;
    text-align: left;
    padding: 0vw 6vw 3vw 0vw;
}

.text.bottom{
    padding-top: 1vw;
}

p {
    text-align: center;
}
.bullets{
    display: inline-block;
    text-align: left;
    line-height: 1.5;
}
.bullets li{
    padding-bottom: 10px;
}
h2 {
    font-weight: normal;
}
.prof-title {
    font-weight: normal;
    font-style: italic;
}
h4{
    float: right;
    font-weight: normal;
}
h3{
    float: left;
}
h3 a{
    color: rgb(199, 174, 104);
    text-decoration: none;
}
h3 a:hover{
    color: rgba(199, 174, 104, 0.7);
}

.company{
    margin-bottom: 0;
}
footer{
    padding-top: 10vh;
    height: 50vh;
    text-align: center;
    background-color: rgb(29, 29, 29);
    color: white;
    padding: 1em;
    font-size: 15px;
}

.footer-links{
    font-size: 20px;
    align-items: center;
    display: flex;
    padding-top: 15vh;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
}

.footer-links div{
    padding-right: 10vw;
}

.footer-links a{
    text-decoration: none;
    color:  white;
    transition: ease-in-out 0.1s;
}

.footer-links a:hover{
    color: rgb(199, 174, 104);

}


.footer.social-logos {
    text-align: center;
}

.social-image2 {
    background-color: white;
    padding-left: 0;
    margin: 0 2vw 0 0;
    width:5vh;
    display: inline-block;
    border-radius: 3.1vh;
    border: 5px solid white;
    transition: ease-in-out 0.1s;
}

.footer.social-logos img{
    width: 5vh;
    height: 5vh;
}

.social-image2:hover{
    border-color: rgb(199, 174, 104);
}

@media screen and (max-width: 800px) {
    body{
        font-size: 12px;
    }
    
    header{
        height: 100vh;
        text-align: center;
        font-size: 12px;
        background-image: url("/images/numbers1.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    #header-words{
        /* adjust with media queries */
        padding-top: 23vh;
        font-size: 3em;
        color: white;
    }
    #arrow {
        padding-top: 20vh;
        font-size: 1em;
        transition: color ease-in-out 0.3s;
    }
    #arrow.scroll{
        color: rgba(204, 0, 0, 0);
    }
    
    #navbar-div {
        z-index: 100;
        list-style-type: none;
        /* Make margin more inside for both the logo and the links */
        margin: 0;
        /* padding: 1.4rem 0 0 1.6rem; */
        transition: background-color 0.3s ease-out;
        text-transform: uppercase;
    }
    
    li a {
        display: block;
        color: white;
        text-decoration: none;
    }
    
    .links{
        width: 50%;
        padding-top: 0.7rem;
        float: none;
        display: flex;
        flex-direction: row;
    }


    .links.home{
        padding-top: 0.7rem;
        float: none;
        display: flex;
        flex-direction: row;
    }
    
    .logo{
        display: none;
        float: none;
    }
        section {
            display: block;
            margin: 0vw 3vw 0vw 3vw;
        }
        .layer{
            background: rgb(210, 210, 210);
            width: 100%;
            margin: 0px 0px 0px 0px;
            text-align: center;
        }
        
        .total{
            padding-top: 8vw;
            padding-bottom: 8vw;
        }
        .title{
            font-size: 1.1em;
            text-align: center; 
            width: 100%;
            padding: 0vw 10vw 0 0vw;
        }
        .text{
            width: 100%;
            text-align: left;
            padding: 0vw 6vw 3vw 3vw;
        }
        
        .text.bottom{
            padding-top: 1vw;
        }
        
        p {
            padding-right: 6vw;
            text-align: center;
        }
        .bullets{
            display: inline-block;
            text-align: left;
            line-height: 1.5;
            padding-right: 6vw;
        }
        .bullets li{
            padding-bottom: 10px;
        }
        h2 {
            font-weight: normal;
        }
        .prof-title {
            font-weight: normal;
            font-style: italic;
        }
        h4{
            float: none;
            font-weight: normal;
        }
        h3{
            font-size: 13px;
            float: none;
        }
        h3 a{
            color: rgb(199, 174, 104);
            text-decoration: none;
        }
        h3 a:hover{
            color: rgba(199, 174, 104, 0.7);
        }
        
        .company{
            margin-bottom: 0;
        }
        ul{
            display: flex;
            flex-direction: column-reverse;
        }
        .footer-links{
            font-size: 12px;
            align-items: center;
            display: flex;
            padding-top: 12.5vh;
            align-items: center;
            justify-content: center;
            padding-bottom: 5vh;
        }
    }